/* src/styles/App.css or equivalent */
.App-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../assets/scheduly\ cover\ page3.jpg);
    background-size: cover;
}

.App-content {
    flex: 1;
    /* This makes the content area take up the remaining space */
}