/* src/styles/CreateEvent.css */
.event-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.createEventTitle {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.event-form {
    width: 100%;
}

.event-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.event-form input,
.event-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.event-form input:focus,
.event-form textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.createEventBtn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.createEventBtn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .event-form-container {
        padding: 10px;
    }

    .createEventTitle {
        font-size: 20px;
    }

    .event-form input,
    .event-form textarea {
        font-size: 14px;
    }

    .createEventBtn {
        font-size: 14px;
    }
}