/* src/styles/Footer.css */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer__content P {
    margin-bottom: 0;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__links {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.footer__link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__link:hover {
    color: #FFD700;
}

@media (max-width: 600px) {
    .footer__content {
        padding: 0 10px;
    }

    .footer__links {
        flex-direction: column;
        gap: 10px;
    }
}