/* src/components/Header.css */

/* Existing Styles */
.header {
    background-color: #2c3e50;
    /* Updated background color */
    padding: 0.5rem 0;
    /* Reduced padding */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    /* Reduced padding */
}

.logo h2 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
    /* Adjusted font size */
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* Reduced gap */
}

.nav-links li {
    font-size: 15px;
    margin: 0;
    padding: 10px;
}

.nav-links li button {
    color: #8e44ad;
    border: none;
    padding: 0px;
    width: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.nav-links a {
    /*color: white;*/
    /* Updated text color */
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #3498db;
    /* Updated hover color */
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        background-color: #2c3e50;
        /* Same as header background */
        padding: 1rem 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .hamburger {
        display: flex;
    }
}