/* src/styles/Home.css */
.home {
    max-width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
    /* Increased font size */
    font-weight: bold;
    color: #2c3e50;
}

.searchBtn {
    width: 100%;
    padding: 12px;
    /* Increased padding */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    /* Increased font size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.searchBtn:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 20px;
    /* Increased padding */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li h3 {
    font-size: 1.8em;
    /* Increased font size */
    color: #2c3e50;
    margin-bottom: 10px;
}

li p {
    margin: 5px 0;
    color: #555;
    font-size: 1.2em;
    /* Increased font size */
}

li p:first-of-type {
    font-weight: bold;
    color: #e74c3c;
}

li p:last-of-type {
    font-style: italic;
    color: #8e44ad;
}

.invited-users {
    margin-top: 10px;
    padding-left: 20px;
}

.invited-users li {
    font-size: 1em;
    /* Increased font size */
    color: #777;
}

@media (max-width: 600px) {
    .home {
        padding: 10px;
    }

    .searchBtn {
        font-size: 16px;
        /* Adjusted font size */
    }

    li {
        padding: 15px;
        /* Adjusted padding */
    }

    li h3 {
        font-size: 1.5em;
        /* Adjusted font size */
    }

    li p {
        font-size: 1em;
        /* Adjusted font size */
    }
}