/* src/styles/Login.css */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.login__form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login__title {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.login__form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.login__form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login__form input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login__error {
    color: red;
    /*font-size: 14px;*/
    margin-top: 10px;
}

.login__form button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__button:disabled {
    background-color: #0056b3;
    cursor: not-allowed;
}

.login__form button:hover {
    background-color: #0056b3;
}

.login__form .Link {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.login__form .Link:hover {
    color: #0056b3;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid white;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}